@import '../base/vars';
@import '../base/mixins';

.categorias {
    padding-left: 20px;
    border-left: 4px solid $second-color;
    color: $font-white;
}

.bg-rpg {
    background-image: url('../../../public/assets/rpg.jpg');
    @include bg-categories;
}

.bg-strategy {
    background-image: url('../../../public/assets/strategy.jpg');
    @include bg-categories;
}

.bg-shooter {
    background-image: url('../../../public/assets/shooter.jpg');
    @include bg-categories;
}

.bg-simulator {
    background-image: url('../../../public/assets/simulator.jpg');
    @include bg-categories;
}

.bg-sports {
    background-image: url('../../../public/assets/sports.jpg');
    @include bg-categories;
}

.bg-royal {
    background-image: url('../../../public/assets/royal.jpg');
    @include bg-categories;
}