@import '../base/vars';
@import '../base/mixins';

.vaciar-carrito {
    @include button();
}

.pay-container {
    background-color: $first-color-bg;
    padding: 20px;
    border-radius: 10px;
    h2 {
        color: $first-color;
        font-weight: $fw-bold;
    }
    p {
        color: $third-color;
    }
    h3 {
        color: $first-color;
        font-weight: $fw-bold;
    }
    hr {
        opacity: 1;
        color: $third-color;
    }
    .total {
        color: $font-white;
        font-weight: $fw-bold;
        font-size: 30px;
    }
    .iniciar-pago {
        @include button();
        max-width: 100%;
        border-radius: 0;
    }
}