@import '../base/vars';

.item {
    text-align: center;
    img {
        border-radius: 10px;
    }
    h2 {
        color: $font-white;
        font-size: 14px;
        text-align: left;
        margin-bottom: 0;
    }
    p {
        color: $third-color;
        text-align: left;
        font-size: 13px;
        margin-bottom: 0;
    }
}