@import '../base/vars';

.item-cart-container {
    img {
        width: 100px;
        height: auto;
        border-radius: 10px;
    }
    h3 {
        color: $font-white;
    }
    .title-cart-items {
        color: $font-white;
        font-weight: $fw-bold;
    }
    p {
        color: $third-color;
    }
}