@import '../base/vars';

.pt-250 {
    padding-top: 250px;
}
.mt-neg-50 {
    margin-top: -50px;
    img {
        border-radius: 20px;
        width: 250px;
    }
}
.game-detail-container {
    h2 {
        color: $font-white;
    }
    p {
        color: $third-color;
    }
    .price {
        font-size: $subtitle-size;
        font-weight: $fw-bold;
        color: $first-color;
    }
}
.description {
    color: $third-color;
}