@import '../base/vars';
@import '../base/mixins';

.swiper-pagination-bullet {
    background-color: $third-bg !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    background-color: $primary-color !important;
}
.bg-slide-game1 {
    background-image: url('../../../public/assets/img/diablo-4-banner.jpg');
    @include slide-home;
    h2 {
        font-size: $title-size;
        font-weight: $fw-bold;
        color: $typography-white;
    }
    p {
        font-size: $paragraph-size;
        color: $typography-white;
    }
    .comprar-ahora {
        @include comprar-ahora;
    }
}

.bg-slide-game2 {
    background-image: url('../../../public/assets/img/lol-banner.jpg');
    @include slide-home;
    h2 {
        font-size: $title-size;
        font-weight: $fw-bold;
        color: $typography-white;
    }
    p {
        font-size: $paragraph-size;
        color: $typography-white;
    }
    .comprar-ahora {
        @include comprar-ahora;
    }
}

.bg-slide-game3 {
    background-image: url('../../../public/assets/img/asassins-creed-valhalla-banner.jpg');
    @include slide-home;
    h2 {
        font-size: $title-size;
        font-weight: $fw-bold;
        color: $typography-white;
    }
    p {
        font-size: $paragraph-size;
        color: $typography-white;
    }
    .comprar-ahora {
        @include comprar-ahora;
    }
}

.bg-slide-game4 {
    background-image: url('../../../public/assets/img/elden-ring--banner.jpg');
    @include slide-home;
    h2 {
        font-size: $title-size;
        font-weight: $fw-bold;
        color: $typography-white;
    }
    p {
        font-size: $paragraph-size;
        color: $typography-white;
    }
    .comprar-ahora {
        @include comprar-ahora;
    }
}