@import '../base/vars';
@import '../base/mixins';

.mt-80 {
    margin-top: 80px;
}

.swiper-pagination-bullet {
    background-color: $third-color-bg !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    background-color: $first-color !important;
}
.bg-slide-game1 {
    background-image: url('../../../public/assets/diablo-4-banner.jpg');
    @include slide-home;
    .comprar-ahora {
        @include comprar-ahora;
    }
}

.bg-slide-game2 {
    background-image: url('../../../public/assets/lol-banner.jpg');
    @include slide-home;
    .comprar-ahora {
        @include comprar-ahora;
    }
}

.bg-slide-game3 {
    background-image: url('../../../public/assets/asassins-creed-valhalla-banner.jpg');
    @include slide-home;
    .comprar-ahora {
        @include comprar-ahora;
    }
}

.bg-slide-game4 {
    background-image: url('../../../public/assets/elden-ring--banner.jpg');
    @include slide-home;
    .comprar-ahora {
        @include comprar-ahora;
    }
}