@import './vars';

@media screen and (min-width: 576px) {
    .search-form input[type=search] {
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    .bg-rpg, .bg-strategy, .bg-shooter, .bg-simulator, .bg-sports, .bg-royal {
        border-radius: 0;
        &::after {
            border-radius: 0;
        }
    }
}