@import './vars';

@media screen and (min-width: 450px) {
    .comprar-ahora {
        width: 200px !important;
    }
}

@media screen and (min-width: 576px) {
    .search-form input[type=search] {
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    .container-banner {
        border-radius: 40px;
        margin-top: 130px !important;
        //overflow: hidden;
        &::after {
            content: "";
            border-radius: 40px;
        }
        h2 {
            font-size: 45px;
        }
        p {
            font-size: 20px;
        }
        img {
            margin-top: -115px;
        }
    }
    .game-detail-container {
        margin-top: 65px !important;
    }
    .mt-neg-50 {
        margin-top: 40px;
        img {
            border-radius: 20px;
            width: 360px;
        }
    }
}

@media screen and (min-width: 992px) {
    .bg-rpg, .bg-strategy, .bg-shooter, .bg-simulator, .bg-sports, .bg-royal {
        border-radius: 0;
        &::after {
            border-radius: 0;
        }
    }
    .bg-slide-game1, .bg-slide-game2, .bg-slide-game3, .bg-slide-game4 {
        padding: 0 400px 0 20px;
        img {
            width: 300px;
        }
        p {
            font-size: 20px;
        }
    }
}