@import './vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $typography;
    background-color: $secondary-bg;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: $subtitle-size;
}

p {
    font-size: $paragraph-size;
}