@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*FONT*/
$typography: 'Roboto', sans-serif;
/*BACKGROUND COLORS*/
$first-color-bg: #2B2E35; 
$second-color-bg: #212429;
$third-color-bg: #CCCCCC;
/*COLORS*/
$first-color: #FFB901;
$second-color: #FFD700;
$third-color: #CCCCCC;
$font-white: #ffffff;
$font-black: #212429;
/*FONT SIZE*/
$title-size: 40px;
$subtitle-size: 25px;
$paragraph-size: 17px;
$button-font-size: 15px;
/*FONT WEIGHT*/
$fw-bold: 700;