@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*FONT*/
$font-roboto: 'Roboto', sans-serif;
/*BACKGROUND COLORS*/
$primary-bg: #2B2E35; 
$secondary-bg: #212429;
$third-bg: #CCCCCC;
/*COLORS*/
$primary-color: #FFB901;
$secondary-color: #FFD700;
$third-color: #CCCCCC;
$font-white: #ffffff;
$font-black: #212429;
/*FONT SIZE*/
$font-40: 40px;
$font-25: 25px;
$font-18: 18px;
/*FONT WEIGHT*/
$fw-bold: 700;